<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Ofrecemos</h1>
    <div class="card-group">
      <div class="card">
        <figure>
          <img class="card-img-top mt-3" src="/src/app/img/servicio1.jpg" alt="Card image cap">
        </figure>
        <div class="card-body">
          <h5 class="card-title">Cursos de Desarrollo Web</h5>
          <p class="card-text">Contamos con los cursos más actualizados para el desarrollo web, así como profesionales de alto nivel.</p>
        </div>
      </div>
      <div class="card">
        <figure>
          <img class="card-img-top mt-3" src="/src/app/img/servicio2.jpg" alt="Card image cap">
        </figure>
        <div class="card-body">
          <h5 class="card-title">Artículos</h5>
          <p class="card-text">Contamos con los artículos más destacados sobre el mundo del diseño web.</p>
        </div>
      </div>
      <div class="card">
        <figure>
          <img class="card-img-top mt-3" src="/src/app/img/servicio3.jpg" alt="Card image cap">
        </figure>
        <div class="card-body">
          <h5 class="card-title">Desarrollo Creativo</h5>
          <p class="card-text">Ofrecemos desarrollo web creativo para empresas.</p>
        </div>
      </div>
     </div>

     <div class="card-group">
        <div class="card">
          <figure>
            <img class="card-img-top mt-3" src="/src/app/img/servicio5.jpg" alt="Card image cap">
          </figure>
          <div class="card-body">
            <h5 class="card-title">Desarrollo Multiplataforma</h5>
            <p class="card-text">Desarrollo de aplicativos IOS, ANDROID, WINDOWS MOBILE.</p>
          </div>
        </div>
        <div class="card">
          <figure>
            <img class="card-img-top mt-3" src="/src/app/img/servicio6.jpg" alt="Card image cap">
          </figure>
          <div class="card-body">
            <h5 class="card-title">Personal Calificado</h5>
            <p class="card-text">Profesionales con amplia experiencia en el desarrollo web nos respaldan.</p>
          </div>
        </div>
        <div class="card">
          <figure>
            <img class="card-img-top mt-3" src="/src/app/img/servicio4.jpg" alt="Card image cap">
          </figure>
          <div class="card-body">
            <h5 class="card-title">Atención al Cliente</h5>
            <p class="card-text">Atención personalizada todo los días del año para garantizar el mejor servicio.</p>
          </div>
        </div>
      </div>
  </div>
</div>