<div class="social">
  <ul>
    <li>Follow me</li>
    <li><a href="http://www.facebook.com/junior.so2" class="estilos-fb" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
    <li><a href="#968298503" class="estilos-wa"><i class="fab fa-whatsapp"></i></a></li>
    <li><a href="https://github.com/juniorsaraviao" class="estilos-gh" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="https://plus.google.com/u/0/114708903152363491073" class="estilos-gm" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
  </ul>
</div>